/* ============================ STYLES =============================== */





/* ------------------------- ELEMENTS ------------------------------- */

html{
	height: 100%;
}

body{
	margin: 0;
	background-color:seagreen ;
}


/* ------------------------- VARIABLES ------------------------------- */



/* ------------------------- HEADER ------------------------------- */


#sec-header{
	background-color: aliceblue;
	width: 100%;
}









