/* ============================ STYLES =============================== */





/* ------------------------- ELEMENTS ------------------------------- */

html{
	height: 100%;
}

body{
	margin: 0;
	background-color:seagreen ;
}

h1{
	font-size: 2vw;
	margin: 0;
	padding: 3% 0;
}

h3{
	font-size: 1.5vw;
	margin: 0;
}


/* ------------------------- VARIABLES ------------------------------- */



/* ------------------------- HEADER ------------------------------- */


#sec-header{
	width: 100%;
	background-color: skyblue;
}

.header-flex-container{
	align-items: center;
	background-color: red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.header-flex-item{
	background-color: lightyellow;
	text-align: center;
}








